html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='images/favicon.ico')
    title Starter Template for Bootstrap
    // Bootstrap core CSS
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    link(href='public/stylesheets/ie10-viewport-bug-workaround.css', rel='stylesheet')
    // Custom styles for this template
    link(href='stylesheets/starter-template.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy these 2 lines!
    //if lt IE 9
      script(src='javascripts/ie8-responsive-file-warning.js')
    script(src='javascripts/ie-emulation-modes-warning.js')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Project name
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li.active
              a(href='/tareas') Llistar tasques
            li
              a(href='#about') About
        // /.nav-collapse
    .container
      .starter-template
        h1 Pàgina pràctica node UF2    
        each tarea, i in tareas
            h4 #{tarea.nom}
                |
                br
                .progress
                    .progress-bar(role='progressbar', aria-valuenow='tarea.realització', aria-valuemin='0', aria-valuemax='100', style='width:'+ tarea.realització+ '%')
                        span.sr-only tarea.realització% Complete
                            |  #{tarea.realització} %

                
                button.btn.btn-default(type='submit') Update
        br
        |
        button.btn.btn-default(type='submit', onclick="window.location='/tareas/new'") Añadir
